.Banner {
  display: flex;
  max-width: 910px;
  margin: 50px auto;
  justify-content: flex-start;
}
.banner-img {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .Banner {
    text-align: center;
    flex-direction: column;
    margin: 40px 20px;
  }
}
